<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new Posts</title>
    <link rel="stylesheet" href="/new.css">
    
</head>
<body>
    <form method="post" action="/posts ">
        <label for="username">USERNAME</label>
        <input type="text" name="username" id="username" placeholder="enter username">
        <br><br>
        <textarea rows="10" cols="50" name="content" id="content" placeholder="write your post"></textarea>
        <br>
        <button>Submit Post</button>
    </form>
</body>
</html>